<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>199A0B9F1D4EA5E200E662B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>199A0BB81D4EA5E200E662B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>199A0BC31D4EA5E200E662B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
